# Dependencies
node_modules/
.next/
out/
build/

# Env (never commit secrets)
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
